.ignore/.env
.ignore/.env
.ignore/*.tar.gz
.ignore/docker-compose.yml
.ignore/*.txt
.ignore/*.log
.ignore/ui/*
.ignore/migration/*
.ignore/Docker*
.ignore/go.sh
.ignore/*.jar
.ignore/build/*
.ignore/logs/*
.idea/
m2-repository/
